<%
meta :title => "RiggingSteel Chile",
     :description => t(:home_description),
     :keywords => t(:keywords).gsub(/\s+/m, ' ').strip.split(" ")
%>
<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns">
        <div data-orbit id="slider" data-options="timer_speed:4000;resume_on_mouseout:true;">
          <li>
            <img src="/images/home/slider/orbit_04.png" />
              <div class="orbit-caption">
                E-house lifting project
              </div>
          </li>
          <li>
            <img src="/images/home/slider/orbit_02.jpg" />
              <div class="orbit-caption">
               Two cranes heavy lift erection.
              </div>
          </li>
          <li>
            <img src="/images/home/slider/orbit_05.png" />
              <div class="orbit-caption">
               Spreader beam project
              </div>
          </li>
        </div>
    </div>
  </div>
  
<!-- Three-up Content Blocks -->

  <div class="row">

    <div class="large-12 columns">
      <h1> <%= t(:home_subtitle)%></h1>
        <% t(:home_description).each do |paragraph| %>
        <p><%= paragraph %></p>
        <% end %>
      <p></p>
    </div>

    <% t("home_list").each do |item| %>
    <div class="large-4 medium-6 small-12 columns">
      <i class="foundicon-tools"></i>
<!--       <%= image_tag("#{item['image_path']+item['image']}")%>
 -->      <h3><%= item['name']%></h3>
      <h4 class="subheader"><%= item['subtitle']%></h4>
        <% item["description"].each do |paragraph| %>
          <p><%= paragraph %></p>
        <% end %>
    </div>
    <% end %>

  </div>

  <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4><%=t(:contact_us_box_header)%></h4>
          <div class="row" style="background-color:#F2F2F2">
            <div class="large-9 columns">
              <p><%=t(:contact_us_box_text)%></p>
            </div>
            <div class="large-3 columns">
              <%= link_to t(:contact_us_box_button), contact_path, :class=>"radius button right" %>
            </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->

  </body>
</html>




