  <!-- First Band (Image) -->

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag(t :projects_header_image)%>
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h2><%= t(:projects_title)%></h2>
      <p><%= t(:projects_description)%></p>
    </div>
  </div>

  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <% t("projects_list").each_with_index do |item, index| %>
    <div class="large-4 columns">
      <h3><%= t(item['name'])%></h3>
          <%= image_tag("#{item['image_path']+item['image']}")%>    
          <% item["description"].each do |paragraph| %>
      <p><%= paragraph %></p>
          <% end %>
    </div>
  <% end %>
  </div>  
