<%
meta :title => "RiggingSteel: " + t(:rigging_title),
     :description => t(:rigging_description),
     :keywords => t(:keywords).gsub(/\s+/m, ' ').strip.split(" ")
%>
  <!-- First Band (Image) -->

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag(t :rigging_header_image)%>
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h2><%= t(:rigging_title)%></h2>
      <p><%= t(:rigging_description)%></p>
    </div>
  </div>

  <!-- Third Band (Image Right with Text) -->

    <% t("rigging_list").each_with_index do |item, index| %>
    <% if (index)%3==0 then %> <div class="row"> <!-- start row --> <%end%>
    <div class="large-4 columns">
      <h3><%= item['name']%></h3>
           <%= image_tag("#{item['image_path']+item['image']}")%> 
      <ul>        
      <% item["items"].each do |paragraph| %>
        <li><%= paragraph %></li>
          <% end %>
      </ul>
    </div>
    <% if (index)%3==2 || (index==t("rigging_list").count) then %> </div> <!-- end row --> <%end%>

  <% end %>
