<%
meta :title => "RiggingSteel: " + t(:services_title),
     :description => t(:services_description),
     :keywords => t(:keywords).gsub(/\s+/m, ' ').strip.split(" ")
%>
  <!-- First Band (Image) -->

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag(t :services_header_image)%>
      <hr>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->

  <div class="row">
    <div class="large-12 columns">
      <h2><%= t(:services_title)%></h2>
      <p><%= t(:services_description)%></p>
    </div>
  </div>

  <!-- Third Band (Image Right with Text) -->

  <!-- Third Band (Image Right with Text) -->

  <div class="row">
    <% t("services_list").each_with_index do |item, index| %>
    <div class="large-4 columns">
      <h3><%= item['name']%></h3>
          <%= image_tag("#{item['image_path']+item['image']}")%>
          <p><p/>    
          <% item["description"].each do |paragraph| %>
      <p><%= paragraph %></p>
          <% end %>
      <ul>        
      <% item["items"].each do |paragraph| %>
        <li><%= paragraph %></li>
          <% end %>
      </ul>
    </div>
  <% end %>
  </div>  
  