<%
meta :title => "RiggingSteel: " + t(:contact_header),
     :description => t(:contact_text),
     :keywords => t(:keywords).gsub(/\s+/m, ' ').strip.split(" ")
%>
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-7 columns">
      <h3><%= t(:contact_header)%></h3>
      <p><%= t(:contact_text)%></p>

      <div class="section-container tabs" data-section>
        <section class="section">

          <div class="content" data-slug="panel1">

            <%= form_for @message, :url => contact_path do |form| %>

              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_name), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :name, :placeholder => t(:contact_placeholder_name) %>
                </div>
              </div>
              
              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_email), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :email, :placeholder => t(:contact_placeholder_email) %>
                </div>
              </div>

              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_subject), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :subject, :placeholder => t(:contact_placeholder_subject) %>
                </div>
              </div>
              
              <div class="field">
                <%= form.label t(:contact_field_body) %>
                <%= form.text_area :body, :placeholder => t(:contact_placeholder_body) %>
              </div>
            
              <%= form.submit t(:contact_form_button), :class => "radius button" %>

          <% end %>

          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->


    <!-- Sidebar -->
 
 
    <div class="large-5 columns">
      <br>
      <div class="panel">
        <h5><%=t(:contact_location_title)%></h5>
        <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <div class="flex-video">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3329.950736101444!2d-70.6176668!3d-33.424528699999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf63d8e993d5%3A0xc4a5d39a36f970af!2sPadre+Mariano+391%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1417534991555" width="400" height="300" frameborder="0" style="border:0"></iframe>
      </div>
        <p>
          Padre Mariano 391, Of. 704 <br/>
          Providencia.<br/>
          (Metro Pedro de Valdivia)<br/><br/>
          +56 9 84068218<br/>
          +56 2 26314141<br/>
        <%=mail_to "contacto@riggingsteel.cl", "contacto@riggingsteel.cl", subject: "[RigginSteel]"%></p>
      </div>
    </div>


    <!-- End Sidebar -->
  </div>

 
  <!-- End Main Content and Sidebar -->
 
  </body>
</html>