<!DOCTYPE html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= metamagic %>
    <title><%= content_for?(:title) ? yield(:title) : "Rigging Steel" %></title>

    <%= stylesheet_link_tag    "application"%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
    
 
  <body>

    <%= render "layouts/navigation" %>

<!-- End Header and Nav -->

    <%= yield %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application"%>
    <script>
      $(document).foundation({topbar : {custom_back_text: false }}); 

      //analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57794521-1', 'auto');
      ga('send', 'pageview');

    </script>

